*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid rebeccapurple;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.style-h2 {
  font-size: 64px;
  line-height: 1.3125;
  font-weight: 500;
}

.style-p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
}

.style-li {
  font-size: 24px;
  line-height: 1.75;
  font-weight: 700;
}

img {
  vertical-align: middle;
}

ul {
  list-style: none;
}

.header {
  height: 958px;
  background: url(../img/banner.png) center center;
  background-size: cover;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  // position: relative;
  // .content {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  // }
  p {
    font-size: 24px;
    line-height: 1.75;
    font-weight: 700;
  }
  h1 {
    font-size: 80px;
    line-height: 1.325;
    font-weight: 900;
    margin-bottom: 32px;
  }
  h2 {
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 40px;
  }
  ul {
    display: flex;
    justify-content: space-around;
    a:hover {
      opacity: 0.6;
    }
  }
}

.about {
  margin: 56px 0;
  text-align: center;
  h2 {
    margin-bottom: 40px;
  }
  img {
    margin-bottom: 20px;
  }
  .basic-info {
    margin-bottom: 24px;
    .school-info {
      font-size: 24px;
      line-height: 1.5;
      font-weight: 700;
      margin-top: 8px;
    }
  }
}

.profession-info {
  width: 384px;
  border-top: 1px solid #000000;
  padding-top: 28px;
  margin: 0 auto;
  li {
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    .point {
      background-color: #891818;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      margin: auto 0;
      margin-right: 16px;
    }
  }
  li:last-child {
    margin-bottom: 0;
  }
}

.brand {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 56px 0 120px;
  h2 {
    margin-bottom: 12px;
  }
  h3 {
    font-size: 24px;
    line-height: 1.75;
    font-weight: 500;
    margin-bottom: 32px;
  }
  p {
    margin-bottom: 68px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      margin-bottom: 40px;
    }
    li:first-child {
      width: 100%;
    }
  }
}

.works {
  text-align: center;
  padding: 56px 0 96px;
  h2 {
    margin-bottom: 16px;
  }
  p {
    margin-bottom: 56px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      margin-bottom: 48px;
    }
    h3 {
      font-size: 20px;
      line-height: 2.1;
      font-weight: 500;
      margin-top: 16px;
    }
  }
}

.contact {
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  padding: 64px 0 48px;
  h2 {
    margin-bottom: 16px;
  }
  ul {
    li {
      font-size: 24px;
      line-height: 1.5;
      font-weight: 500;
      margin-bottom: 16px;
    }
    a {
      color: #ffffff;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
