* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid red;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  vertical-align: middle;
}

ul {
  list-style: none;
}

.header {
  height: calc(100vh);
  background-image: url(../img/banner.png);
  background-size: cover;
  color: #ffffff;
  position: relative;
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h1 {
    font-size: 80px;
    line-height: 1.325;
    margin-bottom: 32px;
    p {
      font-size: 16px;
      line-height: 1.75;
    }
  }
  h2 {
    margin-bottom: 40px;
    line-height: 1.5;
  }
  ul {
    display: flex;
    justify-content: space-around;
  }
}

.about {
  margin: 56px 0;
  text-align: center;
  h2 {
    font-size: 64px;
    line-height: 1.3125;
    margin-bottom: 40px;
  }
  img {
    margin-bottom: 20px;
  }
  .basic-info {
    margin-bottom: 24px;
    li {
      font-size: 24px;
      line-height: 1.75;
    }
    .school-info {
      line-height: 1.5;
      margin-top: 8px;
    }
  }
}

.profession-info {
  border-top: 1px solid #000000;
  padding-top: 28px;
  li {
    font-size: 24px;
    line-height: 1.75;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    .point {
      background-color: #891818;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      margin: auto 0;
      margin-right: 16px;
    }
  }
  li:last-child {
    margin-bottom: 0;
  }
}

.brand {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 56px 0 120px;
  h2 {
    font-size: 64px;
    line-height: 1.3125;
    margin-bottom: 12px;
  }
  h3 {
    font-size: 24px;
    line-height: 1.75;
    margin-bottom: 32px;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 68px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    li {
      margin-right: 24px;
      margin-bottom: 40px;
    }
  }
}

.works {
  text-align: center;
  padding: 56px 0 96px;
  h2 {
    font-size: 64px;
    line-height: 1.3125;
    margin-bottom: 16px;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 56px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      margin-right: 24px;
      margin-bottom: 48px;
    }
    h3 {
      font-size: 20px;
      line-height: 2.1;
      margin-top: 16px;
    }
  }
}

.contact {
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  padding: 64px 0 48px;
  h2 {
    font-size: 64px;
    line-height: 1.3125;
    margin-bottom: 16px;
  }
  ul {
    li {
      font-size: 24px;
      line-height: 1.5;
      margin-bottom: 16px;
    }
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}
